<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css">

<div class="row">
  <div class="col-lg-8 col-md-12 ml-auto mr-auto" style="padding-top: 15px">
    <a href="/" class="text-primary icon-move-left">
      <i class="fa fa-arrow-left text-sm ms-1"></i>
      Back home
    </a>
    --blog--

    <div class="text-center">
      <a rel="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/">
        <img title="This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License"
             alt="This work is licensed under a Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License"
             style="border-width:0; margin-bottom: 10px;"
             src="https://i.creativecommons.org/l/by-nc-nd/4.0/80x15.png" />
      </a>
    </div>

  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/highlight.min.js"></script>
<!-- and it's easy to individually load additional languages -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/python.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/languages/bash.min.js"></script>
<script type="application/javascript">hljs.highlightAll();</script>

<style type="text/css">
  .profile-page .page-header {
    height: 150px;
  }
  .profile-content {
    min-height: 750px;
  }
</style>
