
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="profile">
              <div class="avatar">
                <img src="static/img/profile-pic.jpg" alt="Circle Image" class="img-raised rounded-circle img-fluid">
              </div>
              <div class="name">
                <h3 class="title">Mikuláš Poul</h3>
                <h6>--general.role--</h6>

                <a href="https://github.com/mikicz" class="btn btn-just-icon btn-link btn-github" title="GitHub">
                  <i class="fa fa-github"></i>
                </a>
                <a href="https://gitlab.com/mikulaspoul" class="btn btn-just-icon btn-link btn-gitlab" title="GitLab">
                  <i class="fa fa-gitlab"></i>
                </a>
                <a href="https://www.instagram.com/therealmikicz" class="btn btn-just-icon btn-link btn-instagram" title="Instagram">
                  <i class="fa fa-instagram"></i>
                </a>
                <br class="icons-break">
                <a href="https://www.youtube.com/channel/UCY5GM99B4cZ2-LM1Oqg4gQg" class="btn btn-just-icon btn-link btn-youtube" title="YouTube">
                  <i class="fa fa-youtube"></i>
                </a>
                <a href="https://www.facebook.com/mikulaspoul" class="btn btn-just-icon btn-link btn-facebook" title="Facebook">
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="https://www.linkedin.com/in/mikuláš-poul-920b6a59/" class="btn btn-just-icon btn-link btn-linkedin" title="LinkedIn">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a href="https://bsky.app/profile/mikicz.bsky.social" class="btn btn-just-icon btn-link btn-bluesky" title="BlueSky">
                  <i class="fa fa-brands fa-bluesky"></i>
                </a>
                <a href="mailto:mikulaspoul@gmail.com" class="btn btn-just-icon btn-link btn-envelope-square" title="mikulaspoul@gmail.com">
                  <i class="fa fa-envelope-square"></i>
                </a>
                <a href="cv.pdf" class="btn btn-just-icon btn-link btn-file-pdf-o" title="PDF CV">
                  <i class="fa fa-file-pdf-o"></i>
                </a>

              </div>
            </div>
          </div>
        </div>
        <!--<div class="row">
          <div class="col-sm-12 col-md-10 col-lg-8 offset-md-1 offset-lg-2">
            <p class="text-justify">
              --general.desc--
            </p>
          </div>
        </div>-->
        <div class="row">
          <div class="col-lg-8 col-md-12 ml-auto mr-auto ">
            <div class="profile-tabs">
              <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#blog" role="tab" data-toggle="tab">
                    <i class="material-icons">book</i> Blog
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#talks" role="tab" data-toggle="tab">
                    <i class="material-icons">co_present</i> Talks
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#work" role="tab" data-toggle="tab">
                    <i class="material-icons">business</i> Work
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#education" role="tab" data-toggle="tab">
                    <i class="material-icons">account_balance</i> Education
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#personal" role="tab" data-toggle="tab">
                    <i class="material-icons">favorite</i> Projects
                  </a>
                </li>
              </ul>
            </div>
            <hr>
          </div>

          <div class="col-xs-12 col-sm-10 offset-sm-1 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
            <div class="tab-content tab-space">
              <div class="tab-pane active text-center gallery" id="blog">
                <h4>
                  <a href="/management-commands-custom-location/">--blogs.management_commands_custom_location.title--</a><br>
                  <small>--blogs.management_commands_custom_location.published--</small>
                </h4>

                --blogs.management_commands_custom_location.long_description--

                <br><br>

                <a href="/management-commands-custom-location/" class="text-info text-sm icon-move-right">
                  Read More
                  <i class="fa fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>

                <hr>

                <h4>
                  <a href="/finding-unused-fixtures-in-your-tests/">--blogs.finding_unused_fixtures_in_your_tests.title--</a><br>
                  <small>--blogs.finding_unused_fixtures_in_your_tests.published--</small>
                </h4>

                --blogs.finding_unused_fixtures_in_your_tests.long_description--

                <br><br>

                <a href="/finding-unused-fixtures-in-your-tests/" class="text-info text-sm icon-move-right">
                  Read More
                  <i class="fa fa-arrow-right text-sm ms-1" aria-hidden="true"></i>
                </a>

              </div>
              <div class="tab-pane text-center gallery" id="talks">
                <h4>
                  <a href="/talks/ucl-photonics-oss-talks/oss/">Good practices for making reproducible open source code</a><br>
                  <small>UCL Photonics Society Transferable Skills Workshop Series, November 28, 2024</small>
                </h4>

                <p class="text-justify">
                  Learn how to make good quality reproducible code using the good practices and tools of open-source software development.
                </p>

                <hr>

                <h4>
                  <a href="/talks/django-aggregation-talk/">Aggregating data in Django using database views</a><br>
                  <small>EuroPython, July 10, 2024</small>
                </h4>

                <p class="text-justify">
                  Aggregating information is a common Django task, but using the aggregate method can be a bit cumbersome and in the case of large database tables, pretty slow as well. I will introduce the library django-pgviews-redux, which adds first-class support for database views (with Postgres), making that task much simpler.
                  <br>
                  With that library, database views are wrapped around models, meaning you get many of the features you rely on with models for free, like querysets and filtering on those, admin, and any other feature which works with models. Defining a view is almost as simple as defining a model, by specifying what fields there are for the model and defining the SQL.
                  <br>
                  This talk will walk through examples of aggregation in Django, and then show how one could simplify those examples using the library. Finally, we will get to materialized views as well, which stores the aggregation almost like a table in the database, providing big speed improvements on aggregation on large tables.

                </p>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/nXHYIGCczmE?si=aIxcVJ41QpZN0YNa" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <hr>

                <h4>
                  <a href="/talks/pytest-classes-talk/">Pytest: The Case For Using Classes</a><br>
                  <small>PyCon CZ, September 16, 2023</small>
                </h4>

                <p class="text-justify">
                  There's many reasons why people love pytest – the simple asserts, modular test setup, easy barrier to entry, the plugin ecosystem.
                  But at scale, only using function-based tests becomes hard to maintain, and slow to run. At Xelix, our main Django monolith has about ten thousand tests and about four thousand fixtures, so speed and maintainability is of paramount importance.
                  <br>
                  In this talk I will present several reasons why we love to use classes to organise our tests, and to share fixtures. Using class based tests allows you to be more explicit, in what fixtures are available to a set of tests, and allows sharing fixtures between tests not in the same folder. Using classes enables using fixture scope to greatly speed up your tests, while keeping the fixture namespace clear. And finally, using test classes allows you to do interesting things with inheritance and parametrisation, which would be a pain to do with functions only.
                </p>

                <iframe width="560" height="315" src="https://www.youtube.com/embed/8dlv416kHcs?si=m2CY0sN0kKztIvLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

              </div>
              <div class="tab-pane text-center gallery" id="work">
                <h4>
                  <a href="--work.xelix.url--">--work.xelix.company--</a> <br>
                  --work.xelix.staff.role-- <br>
                  <small>--work.xelix.staff.from-- ‒ --work.xelix.staff.to--</small>
                </h4>

                <h4>
                  --work.xelix.lead.role-- <br>
                  <small>--work.xelix.lead.from-- ‒ --work.xelix.lead.to--</small>
                </h4>

                <p class="text-justify">
                  --work.xelix.lead.desc--
                </p>


                <h4>
                  --work.xelix.developer.role-- <br>
                  <small>--work.xelix.developer.from-- ‒ --work.xelix.developer.to--</small>
                </h4>

                <p class="text-justify">
                  --work.xelix.developer.desc--
                </p>

                <hr>

                <h4>
                  <a href="--work.sparktech.url--">--work.sparktech.company--</a> <br>
                  --work.sparktech.role-- <br>
                  <small>--work.sparktech.from-- ‒ --work.sparktech.to--</small>
                </h4>

                <p class="text-justify">
                  --work.sparktech.desc--
                </p>

                <hr>
                <h4>
                  <a href="--work.redhat.url--">--work.redhat.company--</a> <br>
                  --work.redhat.role-- <br>
                  <small>--work.redhat.from-- ‒ --work.redhat.to--</small>
                </h4>

                <p class="text-justify">
                  --work.redhat.desc--
                </p>

                <hr>
                <h4>
                  <a href="--work.zoom.url--">--work.zoom.company--</a> <br>
                  --work.zoom.role-- <br>
                  <small>--work.zoom.from-- ‒ --work.zoom.to--</small>
                </h4>

                <p class="text-justify">
                    --work.zoom.desc--
                </p>

              </div>
              <div class="tab-pane text-center gallery" id="education">
                <h4>
                  --school.ucl.name--<br>
                  <small>--school.ucl.from-- ‒ --school.ucl.to--, --school.ucl.degree--</small>
                </h4>

                <p class="text-justify">
                  --school.ucl.desc--
                </p>

                <div class="thesis-box">

                  <h5>
                    --school.ucl.thesis.title--<br>
                    <small>--school.ucl.thesis.subtitle--</small>
                  </h5>

                  <p class="text-justify">
                    --school.ucl.thesis.desc--
                  </p>

                </div>

                <hr>

                <h4>
                  --school.cvut.name--<br>
                  <small>--school.cvut.from-- ‒ --school.cvut.to--, --school.cvut.degree--</small>
                </h4>

                <p class="text-justify">
                  --school.cvut.desc--
                </p>

                <div class="thesis-box">

                  <h5>
                    --school.cvut.thesis.title--<br>
                    <small>--school.cvut.thesis.subtitle--</small>
                  </h5>

                  <p class="text-justify">
                    --school.cvut.thesis.desc--
                  </p>

                </div>

                <hr>

                <h4>
                  --school.arcig.name--<br>
                  <small>--school.arcig.from-- ‒ --school.arcig.to--</small>
                </h4>

                <p class="text-justify">
                  --school.arcig.desc--
                </p>

              </div>
              <div class="tab-pane text-center gallery" id="personal">
                <h4>
                  --personal.pytest_unused.name--
                  <br>
                  <small><a href="--personal.pytest_unused.url--">Source</a></small>
                  <br><small>--personal.pytest_unused.from--</small>
                </h4>

                <p class="text-justify">
                  --personal.pytest_unused.desc--
                </p>

                <h4>
                  --personal.pytest_xdist.name--
                  <br>
                  <small><a href="--personal.pytest_xdist.url--">Source</a></small>
                  <br><small>--personal.pytest_xdist.from--</small>
                </h4>

                <p class="text-justify">
                  --personal.pytest_xdist.desc--
                </p>

                <h4>
                  --personal.p4a_portal.name--
                  <br>
                  <small><a href="--personal.p4a_portal.url--">Source</a></small>
                  <br><small>--personal.p4a_portal.from-- ‒ --personal.p4a_portal.to--</small>
                </h4>

                <p class="text-justify">
                  --personal.p4a_portal.desc--
                </p>

                <h4>
                  --personal.modbus2tcp.name--
                  <br>
                  <small><a href="--personal.modbus2tcp.url--">Source</a></small>
                  <br><small>--personal.modbus2tcp.from-- ‒ --personal.modbus2tcp.to--</small>
                </h4>

                <p class="text-justify">
                  --personal.modbus2tcp.desc--
                </p>

                <h4>
                  --personal.bettersubbox.name--
                  <br>
                  <small><a href="--personal.bettersubbox.url--">Source</a></small>
                  <br><small>--personal.bettersubbox.from-- ‒ --personal.bettersubbox.to--</small>
                </h4>

                <p class="text-justify">
                  --personal.bettersubbox.desc--
                </p>

                <h4>
                  --personal.arca.name--
                  <br>
                  <small><a href="--personal.arca.url--">Source</a></small>
                  <br><small>--personal.arca.from-- ‒ --personal.arca.to--</small>
                </h4>

                <p class="text-justify">
                  --personal.arca.desc--
                </p>

                <hr>

              </div>
            </div>
          </div>
        </div>
